@font-face {
    font-family: "X-Typewriter";
    src:
        url("assets/xtypewriter-bold-webfont.woff2") format("woff2"),
        url("assets/xtypewriter-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
}

.left-section {
    background-image: url(assets/left-background.jpg);
    background-position: center;
    width: 40%;
    height: 100vh;
}

.banner {
    background-color: rgba(41, 41, 41, 0.5);
    padding: 20px 0;
    margin-top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    color: white;
    font-family: "X-TypeWriter";
    font-size: 72px;
}

.credit {
    color: rgb(194, 194, 194);
    width: fit-content;
    margin: 510px auto;
}

.credit a:link,
.credit a:visited {
    color: rgb(194, 194, 194);
}

.credit a:hover,
.credit a:active {
    color: darkcyan;
}

main {
    width: 60%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.top {
    height: 35%;
    font-weight: bold;
}

.top-text-1,
.top-text-2 {
    font-weight: bold;
    font-size: 24px;
}

.top-text-1 {
    padding: 120px 30px 40px;
}

.top-text-2 {
    padding: 0 30px;
}

span {
    font-style: italic;
}

form {
    background-color: white;
    height: 30%; 
    padding: 25px 35px;
    box-shadow: #d1d1d14f 0px 5px 5px 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 28px;
    color: rgb(50, 50, 50);
}

fieldset {
    height: fit-content;
    border: none;
    
    display: flex;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.label-input:first-child {
    margin-right: 75px;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(87, 87, 87);
}

input {
    height: 1.5rem;
    width: 240px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #0d4cb3;
    box-shadow: #a3a3a3 1px 1px 5px;
}

input:invalid {
    border: 1px solid #fc3333;
}

.bottom {
    height: 35%;
}

button[type="submit"] {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #274472;
    box-shadow: #646464 2px 2px 4px;
    border: none;
    border-radius: 6px;
    padding: 12px 30px;
    margin: 30px 40px;
}

.log-in {
    margin: 10px 40px;
}

.log-in a:link,
.log-in a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #274472;
}

.log-in a:hover,
.log-in a:active {
    color: #3c66a8;
}